.competence{
    height: 450px; 
    background-color: #240936;
    padding-bottom: 50px!important;
}

.competences {
    display: inline-block;
    text-align: center;
  }

img {
  width: 75px; /* Ajustez la taille selon vos besoins */
  height: 75px; /* Ajustez la taille selon vos besoins */
}

.titre{
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top: 30px;
}

p{
  margin: 0px!important;
}