.projet{
    height: 1200px;
    background-color: #421954;
}

.col{
    padding: 20px!important;
    height: 225px;
}

.col img{
    height: 175px;
}

.text{
    height: 125px;
}

.bouton{
    height: 40px;
    
}

.bouton a{
    margin-left: 10px;
    margin-right: 10px;
}