<!--
    <div class="projet">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <div class="centered-block">
            <h5>Projet 1</h5>
            <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            <p>Texte en dessous de l'image.</p>
          </div>
        </div>
        <div class="col s6">
          <div class="centered-block">
            <h5>Projet 2</h5>
            <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            <p>Texte en dessous de l'image.</p>
          </div>
        </div>
        <div class="col s6">
          <div class="centered-block">
            <h5>Projet 1</h5>
            <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            <p>Texte en dessous de l'image.</p>
          </div>
        </div>
        <div class="col s6">
          <div class="centered-block">
            <h5>Projet 2</h5>
            <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            <p>Texte en dessous de l'image.</p>
          </div>
        </div>
      </div>
    </div>
  </div>    
-->
<div class="projet">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <a href="https://www.green-vibes.shop" target="_blank"><img class="responsive-img" src="../../assets/greenvibes.PNG" alt="Description de l'image"></a>
            </div>
            <div class="col s6">
                <div class="text">
                    <h5>GreenVibes - 2023</h5>
                    <p>E-commerce de CBD</p>
                    <p>Wordpress, Woocommerce, Elementor, Référencement, Newsletter</p>
                </div>
                <div class="bouton">
                    <a class="waves-effect waves-light btn-small transparent"><i class="material-icons left">visibility</i>Aperçu</a>
                    <a class="waves-effect waves-light btn-small transparent"><i class="material-icons left">code</i>Code</a>
                </div>
                <!-- Boutons avec icônes -->
                
            </div>
            <div class="col s6">
                <h5>Projet 2</h5>
                <p>Détail du projet</p>
            </div>
            <div class="col s6">
                <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            </div>
            <div class="col s6">
                <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            </div>
            <div class="col s6">
                <h5>Projet 3</h5>
                <p>Détail du projet</p>
            </div>
            <div class="col s6">
                <h5>Projet 4</h5>
                <p>Détail du projet</p>
            </div>
            <div class="col s6">
                <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            </div>
            <div class="col s6">
                <img class="responsive-img" src="../../assets/projet.png" alt="Description de l'image">
            </div>
            <div class="col s6">
                <h5>Projet 3</h5>
                <p>Détail du projet</p>
            </div>
        </div>
    </div>
</div>