<div class="row">
  <!-- Colonne d'icônes -->
  <div class="col s12 m3 l2 icons-column">
    <ul class="section table-of-contents">
      <li>
        <a href="#accueil">
          <div class="icon-with-text">
            <i class="tiny material-icons">home</i>
            <span *ngIf="active == 'accueil'">Accueil</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#profil">
          <div class="icon-with-text">
            <i class="tiny material-icons">person</i>
            <span *ngIf="active == 'profil'">Profil</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#competence">
          <div class="icon-with-text">
            <i class="tiny material-icons">book</i>
            <span *ngIf="active == 'competence'">Compétences</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#projet">
          <div class="icon-with-text">
            <i class="tiny material-icons">computer</i>
            <span *ngIf="active == 'projet'">Projets</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#contact">
          <div class="icon-with-text">
            <i class="tiny material-icons">home</i>
            <span *ngIf="active == 'contact'">Contact</span>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne principale -->
  <div class="col s12 m9 l12">
    <div id="accueil" class="section scrollspy">
      <app-accueil></app-accueil>
    </div>

    <div id="profil" class="section scrollspy">
      <app-profil></app-profil>
    </div>

    <div id="competence" class="section scrollspy">
      <app-competence></app-competence>
    </div>

    <div id="projet" class="section scrollspy">
      <app-projet></app-projet>
    </div>
  </div>
</div>
