<div class="formation">
    <div class="container">
        <div class="row">
            <div class="col s6 center-align">
                <img class="responsive-img profil" src="../../assets/profilp.png">
                <p>Je suis Antoine, 26 ans, développeur Full Stack en quête d'opportunités passionnantes. Mon expertise technique et ma créativité font de moi le candidat idéal pour contribuer au succès de projets innovants.</p>
            </div>
            <div class="col s6 center-align">
                <img class="responsive-img rounded" src="../../assets/formations.svg">
            </div>
        </div>
    </div>
</div>
